
a{
  text-decoration: none !important;
  color: black;
}

.needHover:hover{
  cursor: pointer;
}
.unpaid{
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
padding: 2px;

}
.ct{
  padding: 30px;

}

.modalCt{
  height: 70vh;
  width: 70vh;
}

.shadow-card {
  margin-bottom: 20px;
  width: 80% ;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 50px; 
  background-color: white;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  
  position: relative;
}


.flat{

  margin:20px;
  width: 100px ;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px; 

  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  
  position: relative;
}
.flat:hover{
  cursor: pointer;
}
.flex{
  display: flex;
}

.Apartment{

  width: 350px;
  padding:10px ;
  border: 1px solid black;
}

.fullw{
  width: 100%;
}

.green{
  background-color: green;
}



.red{
  color: red;
}

.clickToSee{
  position: absolute;
  top: -7px;
  right: -16px;
  color: green;
  font-size: 12px;
}




.redCircle{
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: red;

}

.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.w100{
  width: 100%;
  padding:5px !important;
}

.viewUsers{
  width: 80%;
}


.MuiBox-root-14{
  padding:5px !important;
}


.marg{
  margin-top: 200px !important;
  margin:50px !important;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle2 {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}